-e .

autoflake
black
fastapi==0.42.*
flake8
flake8-bugbear
flake8-comprehensions
isort
httpx
mypy
pytest
pytest-asyncio
pytest-cov
seed-isort-config
starlette==0.12.9  # See: https://github.com/tiangolo/fastapi/issues/683
